@media screen and (min-width: 1456px) and (max-width: 2384px) {
  footer {
    border-top: #fafafa 1px solid;
    width: 100%;
    margin-top: 70px;
    padding-top: 30px;
    color: #fafafa;
    align-items: center;
    display: grid;
    padding-left: 66%;
    padding-right: 31%;
    font-family: Philosopher, sans-serif;
  }

  footer table {
    margin-top: 20px;
    /* margin-left: 20px; */
    width: 77%;
    line-height: 25px;
    margin-bottom: 50px;
  }

  .table-img {
    padding-right: 35px;
  }

  .background-img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .space-card {
    /* background-color: #1f1f1f; */
    background-image: url(./img/space.png);
    background-repeat: no-repeat;
    background-size: 455px 331px;
    /* display: grid; */
    height: 300px;
    width: 422px;
    border-radius: 10px;
  }

  .space-card img{
    margin-top: -250px;
    padding-left: 188px;
    height: 200px;
    width: 190px;
    margin-bottom: 31px;
  }

  .space-card p {
    text-align: left;
    padding-left: 25px;
    padding-top: 5px;
    color: #fff;
  }

  .procent {
    font-size: 45px;
    line-height: 0px;
  }

  .book-of-space{
    font-size: 26px;
    font-weight: 100;
    line-height: 27px;
  }

  .space-card button{
    background-color: #fafafa;
    color: #1f1f1f;
    border-radius: 5px;
    font-size: 15px;
    height: 32px;
    font-family: Philosopher, sans-serif;
    margin-bottom: 50px;
    margin-left: 25px;
  }

  .space-card .popular-title {
    font-size: 23px;
  }


  .popular-card {
      background-color: #1f1f1f;
      /* display: grid; */
      height: 310px;
      width: 400px;
      border-radius: 10px;
  }
  .popular-card img{
    height: 310px;
    width: 400px;
  }

  .container {
    display: flex;
    width: 1240px;
    max-width: 100%;
    gap: 20px;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    justify-content: space-between;
    padding: 0 20px;
  }

  .catalog {
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: 700;
    justify-content: space-between;
  }

  .logo {
    aspect-ratio: 2.63;
    object-fit: auto;
    object-position: center;
    width: 105px;
    max-width: 100%;
  }

  .catalog-box {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 16px;
  }

  body {
      background-color: #1f1a2d;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 24px 0 80px;
      /* width: 1920px; */
      /* height: 3508px; */
      align-items: center;
      overflow-x: hidden;
  }

  .catalog-items {
    display: flex;
    gap: 12px;
    padding: 4px 0;
  }

  .label {
    font-family: Philosopher, sans-serif;
  }
  input.label {
    background-color: #2B2244;
    border: #2B2244 solid 1px;
    color: #7c7c7c;
  }

  .icon {
    aspect-ratio: 1.89;
    object-fit: auto;
    object-position: center;
    width: 15px;
    align-self: start;
  }

  .search-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
    align-self: start;
  }

  .favorite-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    align-self: center;
  }

  .basket-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    align-self: center;
  }

  .search-box {
    border-radius: 5px;
    background-color: #2b2244;
    display: flex;
    gap: 11px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    letter-spacing: -0.3px;
    padding: 6px 12px;
  }

  .favorite-box {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    justify-content: space-between;
  }

  .favorite-icon {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }

  .favorite-label {
    font-family: Philosopher, sans-serif;
  }

  .basket-icon {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }

  .basket-label {
    font-family: Philosopher, sans-serif;
  }

  .login {
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    align-self: stretch;
    color: #1f1a2d;
    padding: 12px 32px;
    font: 700 15px Philosopher, sans-serif;
  }

  .category-item {
    background-color: #1f1a2d;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Philosopher, sans-serif;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    white-space: nowrap;
    padding: 6px 16px;
    cursor: pointer;
  }

  .category-item:active{
    background-color: #fff;
    color: #1f1a2d;
  }

  .categories {
    display: flex;
    gap: 8px;
    font-size: 16px;
    color: #fafafa;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.3px;
    margin: 24px 0 0 57px;
    padding: 0 20px;
  }

  .banner {
    aspect-ratio: 4.55;
    object-fit: auto;
    object-position: center;
    width: 1240px;
    margin-top: 24px;
    max-width: 100%;
  }

  .popular-section {
    display: flex;
    margin-top: 80px;
    width: 1239px;
    max-width: 100%;
    gap: 20px;
    font-weight: 400;
    padding: 0 20px;
  }

  .popular-title {
    color: #fafafa;
    text-align: left;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.3px;
    flex-grow: 1;
    flex-basis: auto;
    font: 32px Philosopher, sans-serif;
    padding-right: 1012px;
  }

  .view-all {
    align-self: start;
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: #fff;
    flex-grow: 1;
    margin: auto 0;
    padding-left: 0px;
  }

  .view-all-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 20px;
    stroke-width: 0.5px;
    stroke: #fff;
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .popular-items {
    margin-top: 33px;
    width: 1240px;
    max-width: 100%;
    padding: 0 20px;
  }

  .popular-item-row {
    gap: 20px;
    display: flex;
  }

  .popular-item {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
  }

  .popular-item-box {
    justify-content: center;
    border-radius: 5px;
    background-color: #2b2244;
    display: flex;
    flex-grow: 1;
    gap: 8px;
    width: 100%;
    padding: 21px 9px;
  }

  .book-img {
    aspect-ratio: 0.63;
    object-fit: auto;
    object-position: center;
    width: 86px;
  }

  .book-details {
    display: flex;
    flex-direction: column;
  }

  .book-rating {
    display: flex;
    width: 100%;
    gap: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -0.3px;
    padding: 0 1px;
  }

  .book-rating-star {
    align-self: start;
    display: flex;
    gap: 5px;
    flex: 1;
  }

  .star-icon {
    aspect-ratio: 1.08;
    object-fit: auto;
    object-position: center;
    width: 14px;
    fill: #fff500;
  }

  .rating-label {
    font-family: Philosopher, sans-serif;
  }

  .rating-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 20px;
  }

  .book-title {
    color: #fff;
    margin-top: 7px;
    font: 400 15px/15px Philosopher, -apple-system, Roboto, Helvetica, sans-serif;
  }

  .book-author {
    color: #fff;
    letter-spacing: -0.3px;
    margin-top: 8px;
    font: 400 14px Philosopher, sans-serif;
  }

  .book-price-cart {
    display: flex;
    margin-top: 29px;
    gap: 20px;
    justify-content: space-between;
  }

  .add-to-cart {
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    color: #1f1a2d;
    padding: 8px 12px;
    font: 700 15px Philosopher, sans-serif;
  }

  .book-price {
    color: #fff;
    margin: auto 0;
    font: 400 24px Philosopher, sans-serif;
  }

  .section-box {
    margin-top: 33px;
    width: 1240px;
    max-width: 100%;
    padding: 0 20px;
  }

  .section-row {
    gap: 20px;
    display: flex;
  }

  .section-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }

  .section-box {
    border-radius: 5px;
    background-color: #1f1f1f;
    flex-grow: 1;
    width: 100%;
    padding: 34px 19px;
  }

  .secondary-col {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 20px;
  }

  .detail-item {
    display: flex;
    flex-direction: column;
  }

  .detail-title {
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.3px;
    font: 400 22px Philosopher, sans-serif;
  }

  .button {
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 71px;
    color: #1f1a2d;
    white-space: nowrap;
    padding: 8px 12px;
    font: 700 15px Philosopher, sans-serif;
  }

  .image {
    aspect-ratio: 0.62;
    object-fit: auto;
    object-position: center;
    width: 98px;
    margin-top: 7px;
  }

  .full-width-image {
    aspect-ratio: 1.28;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }

  .review-box {
    border-radius: 5px;
    background-color: #2b2244;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 400;
    padding: 26px 12px;
  }

  .review-author {
    color: #7c7c7c;
    text-align: center;
    font: 12px Philosopher, sans-serif;
  }

  .review-title {
    text-align: center;
    margin-top: 11px;
    font: 16px Philosopher, sans-serif;
  }

  .author-image {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 44px;
    border-radius: 50%;
    margin-top: 16px;
  }

  .review-text {
    margin-top: 12px;
    font: 14px Philosopher, sans-serif;
  }

  .review-fulltext {
    text-align: center;
    align-self: stretch;
    margin-top: 12px;
    font: 10px/12px Philosopher, sans-serif;
  }
}

@media screen and (min-width: 880px) and (max-width: 1455px) {
  footer {
    border-top: #fafafa 1px solid;
    width: 100%;
    margin-top: 70px;
    padding-top: 30px;
    color: #fafafa;
    align-items: center;
    display: grid;
    padding-left: 50%;
    padding-right: 31%;
    font-family: Philosopher, sans-serif;
  }

  footer table {
    margin-top: 20px;
    /* margin-left: 20px; */
    width: 90%;
    line-height: 25px;
    margin-bottom: 50px;
  }

  .table-img {
    padding-right: 35px;
  }

  .background-img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .space-card {
    /* background-color: #1f1f1f; */
    background-image: url(./img/space.png);
    background-repeat: no-repeat;
    background-size: 455px 331px;
    /* display: grid; */
    /* height: 300px; */
    width: 30%;
    border-radius: 10px;
    margin-top: -60px;
  }

  .space-card img{
    margin-top: -138px;
    padding-left: 138px;
    /* height: 200px; */
    width: 45%;
    margin-bottom: 50px;
  }

  .space-card p {
    text-align: left;
    padding-left: 25px;
    padding-top: 5px;
    color: #fff;
  }

  .procent {
    font-size: 33px;
    line-height: 0px;
  }

  .book-of-space{
    font-size: 15px;
    font-weight: 100;
    line-height: 27px;
  }

  .space-card button{
    background-color: #fafafa;
    color: #1f1f1f;
    border-radius: 5px;
    font-size: 15px;
    height: 32px;
    font-family: Philosopher, sans-serif;
    margin-bottom: 50px;
    margin-left: 25px;
  }

  .space-card .popular-title {
    font-size: 15px;
    width: 240px;
  }

  .popular-card {
    background-color: #1f1f1f;
    /* display: grid; */
    height: 246px;
    width: 293px;
    border-radius: 10px;
    margin-top: -60px;
    margin-left: 15px;
}
.popular-card img{
  height: 246px;
  width: 293px;
}

  .container {
    display: flex;
    width: 1240px;
    max-width: 100%;
    gap: 20px;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    justify-content: space-between;
    padding: 0 20px;
  }

  .catalog {
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: 700;
    justify-content: space-between;
  }

  .logo {
    aspect-ratio: 2.63;
    object-fit: auto;
    object-position: center;
    width: 105px;
    max-width: 100%;
  }

  .catalog-box {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 16px;
  }

  body {
      background-color: #1f1a2d;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 24px 0 80px;
      /* width: 1920px; */
      /* height: 3508px; */
      align-items: center;
      overflow-x: hidden;
  }

  .catalog-items {
    display: flex;
    gap: 12px;
    padding: 4px 0;
  }

  .label {
    font-family: Philosopher, sans-serif;
  }
  input.label {
    background-color: #2B2244;
    border: #2B2244 solid 1px;
    color: #7c7c7c;
  }

  .icon {
    aspect-ratio: 1.89;
    object-fit: auto;
    object-position: center;
    width: 15px;
    align-self: start;
  }

  .search-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
    align-self: start;
  }

  .favorite-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    align-self: center;
  }

  .basket-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    align-self: center;
  }

  .search-box {
    border-radius: 5px;
    background-color: #2b2244;
    display: flex;
    gap: 11px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    letter-spacing: -0.3px;
    padding: 6px 12px;
  }

  .favorite-box {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    justify-content: space-between;
  }

  .favorite-icon {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }

  .favorite-label {
    font-family: Philosopher, sans-serif;
  }

  .basket-icon {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }

  .basket-label {
    font-family: Philosopher, sans-serif;
  }

  .login {
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    align-self: stretch;
    color: #1f1a2d;
    padding: 12px 32px;
    font: 700 15px Philosopher, sans-serif;
  }

  .category-item {
    background-color: #1f1a2d;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Philosopher, sans-serif;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    white-space: nowrap;
    padding: 6px 16px;
    cursor: pointer;
  }

  .category-item:active{
    background-color: #fff;
    color: #1f1a2d;
  }

  .categories {
    /* display: flex; */
    gap: 8px;
    font-size: 16px;
    color: #fafafa;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.3px;
    margin: 24px 0 0 57px;
    padding: 0 20px;
  }

  .banner {
    aspect-ratio: 4.55;
    object-fit: auto;
    object-position: center;
    width: 900px;
    margin-top: 24px;
    max-width: 100%;
  }
  .img4 {
    display: none;
  }

  .popular-section {
    display: flex;
    margin-top: 80px;
    width: 1239px;
    max-width: 100%;
    gap: 20px;
    font-weight: 400;
    padding: 0 20px;
  }

  .popular-title {
    color: #fafafa;
    width: 400px;
    text-align: left;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.3px;
    flex-grow: 1;
    flex-basis: auto;
    font: 32px Philosopher, sans-serif;
    padding-right: 400px;
    /* margin-left: -168px; */
  }

  .view-all {
    align-self: start;
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: #fff;
    flex-grow: 1;
    margin: auto 0;
    padding-left: 0px;
  }

  .view-all-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 20px;
    stroke-width: 0.5px;
    stroke: #fff;
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .popular-items {
    margin-top: 33px;
    width: 1240px;
    max-width: 100%;
    padding: 0 20px;
  }

  .popular-item-row {
    gap: 20px;
    display: flex;
  }

  .popular-item {
    /* display: flex; */
    flex-direction: column;
    line-height: normal;
    width: 30%;
    margin-left: 0px;
    padding-left: 10px;
  }

  .popular-item-box {
    justify-content: center;
    border-radius: 5px;
    background-color: #2b2244;
    display: flex;
    flex-grow: 1;
    gap: 8px;
    width: 100%;
    padding: 21px 9px;
  }

  .book-img {
    aspect-ratio: 0.63;
    object-fit: auto;
    object-position: center;
    width: 86px;
  }

  .book-details {
    display: flex;
    flex-direction: column;
  }

  .book-rating {
    display: flex;
    width: 100%;
    gap: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -0.3px;
    padding: 0 1px;
  }

  .book-rating-star {
    align-self: start;
    display: flex;
    gap: 5px;
    flex: 1;
  }

  .star-icon {
    aspect-ratio: 1.08;
    object-fit: auto;
    object-position: center;
    width: 14px;
    fill: #fff500;
  }

  .rating-label {
    font-family: Philosopher, sans-serif;
  }

  .rating-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 20px;
  }

  .book-title {
    color: #fff;
    margin-top: 7px;
    font: 400 15px/15px Philosopher, -apple-system, Roboto, Helvetica, sans-serif;
  }

  .book-author {
    color: #fff;
    letter-spacing: -0.3px;
    margin-top: 8px;
    font: 400 14px Philosopher, sans-serif;
  }

  .book-price-cart {
    display: flex;
    margin-top: 29px;
    gap: 20px;
    justify-content: space-between;
  }

  .add-to-cart {
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    color: #1f1a2d;
    padding: 8px 12px;
    font: 700 15px Philosopher, sans-serif;
  }

  .book-price {
    color: #fff;
    margin: auto 0;
    font: 400 24px Philosopher, sans-serif;
  }

  .section-box {
    margin-top: 33px;
    width: 1240px;
    max-width: 100%;
    padding: 0 20px;
  }

  .section-row {
    gap: 20px;
    display: flex;
  }

  .section-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }

  .section-box {
    border-radius: 5px;
    background-color: #1f1f1f;
    flex-grow: 1;
    width: 100%;
    padding: 34px 19px;
  }

  .secondary-col {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 20px;
  }

  .detail-item {
    display: flex;
    flex-direction: column;
  }

  .detail-title {
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.3px;
    font: 400 22px Philosopher, sans-serif;
  }

  .button {
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 71px;
    color: #1f1a2d;
    white-space: nowrap;
    padding: 8px 12px;
    font: 700 15px Philosopher, sans-serif;
  }

  .image {
    aspect-ratio: 0.62;
    object-fit: auto;
    object-position: center;
    width: 98px;
    margin-top: 7px;
  }

  .full-width-image {
    aspect-ratio: 1.28;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }

  .review-box {
    border-radius: 5px;
    background-color: #2b2244;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 400;
    padding: 26px 12px;
  }

  .review-author {
    color: #7c7c7c;
    text-align: center;
    font: 12px Philosopher, sans-serif;
  }

  .review-title {
    text-align: center;
    margin-top: 11px;
    font: 16px Philosopher, sans-serif;
  }

  .author-image {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 44px;
    border-radius: 50%;
    margin-top: 16px;
  }

  .review-text {
    margin-top: 12px;
    font: 14px Philosopher, sans-serif;
  }

  .review-fulltext {
    text-align: center;
    align-self: stretch;
    margin-top: 12px;
    font: 10px/12px Philosopher, sans-serif;
  }
}


@media screen and (min-width: 656px) and (max-width: 879px){
  footer {
    border-top: #fafafa 1px solid;
    width: 100%;
    margin-top: 70px;
    padding-top: 30px;
    color: #fafafa;
    align-items: center;
    display: grid;
    padding-left: 34%;
    padding-right: 31%;
    font-family: Philosopher, sans-serif;
  }

  footer table {
    margin-top: 20px;
    /* margin-left: 20px; */
    width: 106%;
    font-size: 13px;
    line-height: 25px;
  }

  .table-img {
    padding-right: 35px;
    width: 20px;
  }
  
  .w768 {
    display: none;
  }

  .background-img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .space-card {
    /* background-color: #1f1f1f; */
    background-image: url(./img/space.png);
    background-repeat: no-repeat;
    background-size: 455px 331px;
    /* display: grid; */
    /* height: 300px; */
    width: 31.5%;
    border-radius: 10px;
    margin-top: -60px;
  }

  .space-card img{
    margin-top: -150px;
    padding-left: 108px;
    /* height: 200px; */
    width: 50%;
    margin-bottom: 30px;
  }

  .space-card p {
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    color: #fff;
    /* font-size: 15px; */
  }

  .procent {
    font-size: 29px;
    line-height: 0px;
    margin-top: 51px;
    /* padding-left: 5px; */
  }

  .book-of-space{
    font-size: 13px;
    font-weight: 100;
    line-height: 27px;
  }

  .space-card button{
    background-color: #fafafa;
    color: #1f1f1f;
    border-radius: 5px;
    font-size: 13px;
    height: 27px;
    font-family: Philosopher, sans-serif;
    margin-bottom: 15px;
    margin-left: 10px;
    padding-left: 0px;
  }

  .space-card .popular-title {
    font-size: 14px;
    width: 240px;
  }


  .popular-card {
      background-color: #1f1f1f;
      /* display: grid; */
      height: 193px;
      width: 232px;
      border-radius: 10px;
      margin-top: -60px;
      margin-left: 5px;
  }
  .popular-card img{
    height: 193px;
    width: 232px;
  }

  .container {
    display: flex;
    width: 1240px;
    max-width: 100%;
    gap: 20px;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    justify-content: space-between;
    padding: 0 20px;
  }

  .catalog {
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: 700;
    justify-content: space-between;
  }

  .logo {
    aspect-ratio: 2.63;
    object-fit: auto;
    object-position: center;
    width: 105px;
    max-width: 100%;
  }

  .catalog-box {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 16px;
  }

  body {
      background-color: #1f1a2d;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 24px 0 80px;
      /* width: 1920px; */
      /* height: 3508px; */
      align-items: center;
      overflow-x: hidden;
  }

  .catalog-items {
    display: flex;
    gap: 12px;
    padding: 4px 0;
  }

  .label {
    font-family: Philosopher, sans-serif;
  }
  input.label {
    background-color: #2B2244;
    border: #2B2244 solid 1px;
    color: #7c7c7c;
  }

  .icon {
    aspect-ratio: 1.89;
    object-fit: auto;
    object-position: center;
    width: 15px;
    align-self: start;
  }

  .search-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 25px;
    align-self: start;
  }

  .favorite-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    align-self: center;
  }

  .basket-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    align-self: center;
  }

  .search-box {
    border-radius: 5px;
    /* background-color: #2b2244; */
    display: flex;
    /* width: 25px; */
    gap: 11px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: -0.3px;
    padding: 6px 12px;
    margin-top: 6px;
    margin-left: 210px;
  }

  .favorite-box {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    justify-content: space-between;
  }

  .favorite-icon {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }

  .favorite-label {
    font-family: Philosopher, sans-serif;
  }

  .basket-icon {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }

  .basket-label {
    font-family: Philosopher, sans-serif;
  }

  .login {
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    align-self: stretch;
    color: #1f1a2d;
    padding: 12px 32px;
    font: 700 15px Philosopher, sans-serif;
  }

  .category-item {
    background-color: #1f1a2d;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Philosopher, sans-serif;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    white-space: nowrap;
    padding: 6px 16px;
    cursor: pointer;
  }

  .category-item:active{
    background-color: #fff;
    color: #1f1a2d;
  }

  .categories {
    /* display: flex; */
    gap: 8px;
    font-size: 16px;
    color: #fafafa;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.3px;
    margin: 24px 0 0 57px;
    padding: 0 20px;
  }

  .banner {
    aspect-ratio: 4.55;
    object-fit: auto;
    object-position: center;
    width: 900px;
    margin-top: 24px;
    max-width: 100%;
  }
  .img4 {
    display: none;
  }

  .popular-section {
    display: flex;
    margin-top: 80px;
    width: 1239px;
    max-width: 100%;
    gap: 20px;
    font-weight: 400;
    padding: 0 20px;
  }

  .popular-title {
    color: #fafafa;
    width: 400px;
    text-align: left;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.3px;
    flex-grow: 1;
    flex-basis: auto;
    font: 32px Philosopher, sans-serif;
    padding-right: 185px;
    /* margin-left: -168px; */
  }

  .view-all {
    align-self: start;
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: #fff;
    flex-grow: 1;
    margin: auto 0;
    padding-left: 0px;
  }

  .view-all-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 20px;
    stroke-width: 0.5px;
    stroke: #fff;
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .popular-items {
    margin-top: 33px;
    width: 1240px;
    max-width: 100%;
    padding: 0 20px;
  }

  .popular-item-row {
    gap: 20px;
    display: flex;
  }

  .popular-item {
    /* display: flex; */
    flex-direction: column;
    line-height: normal;
    width: 29%;
    margin-left: 0px;
    padding-left: 10px;
  }

  .popular-item-box {
    justify-content: center;
    border-radius: 5px;
    background-color: #2b2244;
    display: flex;
    flex-grow: 1;
    gap: 8px;
    width: 100%;
    padding: 21px 9px;
  }

  .book-img {
    aspect-ratio: 0.63;
    object-fit: auto;
    object-position: center;
    width: 66px;
    height: 104px;
    padding-left: 0px;
    margin-top: -10px;
    margin-left: -10px;
  }

  .book-details {
    display: flex;
    flex-direction: column;
  }

  .book-rating {
    display: flex;
    width: 100%;
    gap: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -0.3px;
    padding: 0 1px;
  }

  .book-rating-star {
    align-self: start;
    display: flex;
    gap: 5px;
    flex: 1;
  }

  .star-icon {
    aspect-ratio: 1.08;
    object-fit: auto;
    object-position: center;
    width: 14px;
    fill: #fff500;
  }

  .rating-label {
    font-family: Philosopher, sans-serif;
  }

  .rating-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 20px;
    margin-right: 35px;
  }

  .book-title {
    color: #fff;
    margin-top: 7px;
    width: 144px;
    font-size: 13px;
    font: 400 15px/15px Philosopher, -apple-system, Roboto, Helvetica, sans-serif;
  }

  .book-author {
    color: #fff;
    letter-spacing: -0.3px;
    margin-top: 8px;
    font: 400 14px Philosopher, sans-serif;
  }

  .book-price-cart {
    display: flex;
    margin-top: 29px;
    gap: 20px;
    justify-content: space-between;
  }

  .add-to-cart {
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    color: #1f1a2d;
    padding: 8px 12px;
    margin-left: -75px;
    font: 700 15px Philosopher, sans-serif;
  }

  .book-price {
    color: #fff;
    margin: auto 0;
    font: 400 24px Philosopher, sans-serif;
    margin-right: 23px;
  }

  .section-box {
    margin-top: 33px;
    width: 1240px;
    max-width: 100%;
    padding: 0 20px;
  }

  .section-row {
    gap: 20px;
    display: flex;
  }

  .section-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }

  .section-box {
    border-radius: 5px;
    background-color: #1f1f1f;
    flex-grow: 1;
    width: 100%;
    padding: 34px 19px;
  }

  .secondary-col {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 20px;
  }

  .detail-item {
    display: flex;
    flex-direction: column;
  }

  .detail-title {
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.3px;
    font: 400 22px Philosopher, sans-serif;
  }

  .button {
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 71px;
    color: #1f1a2d;
    white-space: nowrap;
    padding: 8px 12px;
    font: 700 15px Philosopher, sans-serif;
  }

  .image {
    aspect-ratio: 0.62;
    object-fit: auto;
    object-position: center;
    width: 98px;
    margin-top: 7px;
  }

  .full-width-image {
    aspect-ratio: 1.28;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }

  .review-box {
    border-radius: 5px;
    background-color: #2b2244;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 400;
    padding: 26px 12px;
  }

  .review-author {
    color: #7c7c7c;
    text-align: center;
    font: 12px Philosopher, sans-serif;
  }

  .review-title {
    text-align: center;
    margin-top: 11px;
    font: 16px Philosopher, sans-serif;
  }

  .author-image {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 44px;
    border-radius: 50%;
    margin-top: 16px;
  }

  .review-text {
    margin-top: 12px;
    font: 14px Philosopher, sans-serif;
  }

  .review-fulltext {
    text-align: center;
    align-self: stretch;
    margin-top: 12px;
    font: 10px/12px Philosopher, sans-serif;
  }  
}
